@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(255, 255, 255);
  --foreground: rgb(2, 17, 23);

  --muted: rgb(241, 245, 249);
  --muted-foreground: rgb(100, 123, 139);

  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(2, 17, 23);

  --card: rgb(255, 255, 255);
  --card-foreground: rgb(2, 17, 23);

  --border: rgb(226, 234, 240);
  --input: rgb(226, 234, 240);

  --primary: rgb(222, 38, 38);
  --primary-foreground: rgb(248, 250, 252);

  --secondary: rgb(241, 245, 249);
  --secondary-foreground: rgb(15, 34, 42);

  --accent: rgb(241, 245, 249);
  --accent-foreground: rgb(15, 34, 42);

  --destructive: rgb(239, 68, 68);
  --destructive-foreground: rgb(248, 250, 252);

  --ring: rgb(148, 169, 184);

  --radius: 0.5rem;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
